@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 버튼 예시 */
.btn_download::before {
  content: "⬇";
  color: blue;
  margin-right: 5px;
}
.btn_download::after {
  content: "⚾";
  color: red;
  margin-left: 5px;
}
.btn_download {
  padding: 5px 10px;
  background-color: aliceblue;
  border: 0.5px solid #c2c2c2;
  border-radius: 5px;
  margin: 30px;
  font-weight: 500;
  color: cornflowerblue;
}
/* 말풍선 꼬리 만들기 */
.tooltip {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  position: relative;
}
.tooltip::after {
  content: "";
  border: 8px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: #333;
}
p {
  border: 10px solid #333;
  display: inline-block;
  border-top-color: red;
}
/* 구분선 텍스트 */
.divider {
  text-align: center;
  background-color: yellow;
}
.divider::before,
.divider::after {
  content: "";
  height: 1px;
  background-color: #adadad;
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}
.divider::before {
  margin-right: 10px;
}
.divider::after {
  margin-left: 10px;
}
/* 메뉴 구분선 | */
.menu {
  background-color: aquamarine;
  display: flex;
}
.menu a {
  color: #333;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
}
.menu a::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #333;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.menu a:last-child:after {
  content: none;
}
