@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 버튼 예시 */
.btn_download::before {
  content: "⬇";
  color: blue;
  margin-right: 5px;
}
.btn_download::after {
  content: "⚾";
  color: red;
  margin-left: 5px;
}
.btn_download {
  padding: 5px 10px;
  background-color: aliceblue;
  border: 0.5px solid #c2c2c2;
  border-radius: 5px;
  margin: 30px;
  font-weight: 500;
  color: cornflowerblue;
}
